body{
    background-color: #c6faf1;
    font-family: sans-serif;
}
.red-text {
    color: red;
}
/*neu blue-text nam o tren pink-text thi khi add vao thuoc tinh class, no se ra mau blue
va nguoc lai neu pink-text nam o tren thi khi add vao thuoc tinh class, no se ra mau pink*/
.blue-text{
    color:blue !important; /*neu dat !important trong nay, thi no se 100% ra mau xanh*/
}
.pink-text{
    color:pink;
}
/*neu dat thuoc tinh id trong tag bat ky, thi khi ta set-up id voi mau nao, no se hien ra mau do*/
#orange-text{
    color: orange;
}
h2 {
    font-family: Lobster, monospace;
}  
p {
    font-size: 16px;
    font-family: monospace;
}  
.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}  
.smaller-image {
    width: 100px;
}
.silver-background{
    background-color: silver;
}
#cat-photo-form{
    background-color: green;
}
.injected-text{
    margin-bottom: -25px;
    text-align: center;
    color: red;
}
.box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
.yellow-box{
    background-color: yellow;
    padding: 10px; /*padding kiem soat luong kgian giua noi dung va duong vien cua phan tu*/
}
.red-box{
    background-color: crimson;
    color: #fff;
    padding: 20px 40px 20px 40px; /*ky hieu theo thu tu chieu kim dong ho: top, right, bottom, left.*/
    margin: 20px 40px 20px 40px;
}
.blue-box{
    background-color: blue;
    color: #fff;
    padding: 1.5em;
    margin: 20px 40px 20px 40px;
}
.green-box {
    background-color: green;
    margin: 20px 40px 20px 40px;
    padding: 1.5em;
}
[type='radio']{
    margin: 20px 0px 20px 0px;
}
[type='checkbox']{
    margin: 10px 0px 15px 0px;
}
